
<div class="demo-info">

		<div class="time-list">
			<span class="time-important">9:00 <span class="time-extra">AM</span></span>
			<span class="time-important time-extra">9:30</span>
			<span class="time-important">10:00 <span class="time-extra">AM</span></span>
			<span class="time-important time-extra">10:30</span>
			<span class="time-important">11:00 <span class="time-extra">AM</span></span>
			<span class="time-important time-extra">11:30</span>
			<span class="time-important">12:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">12:30</span>
			<span class="time-important">1:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">1:30</span>
			<span class="time-important">2:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">2:30</span>
			<span class="time-important">3:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">3:30</span>
			<span class="time-important">4:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">4:30</span>
			<span class="time-important">5:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">5:30</span>
			<span class="time-important">6:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">6:30</span>
			<span class="time-important">7:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">7:30</span>
			<span class="time-important">8:00 <span class="time-extra">PM</span></span>
			<span class="time-important time-extra">8:30</span>
			<span class="time-important">9:00 <span class="time-extra">PM</span></span>

		</div>
		<div class="daybox-demo">
			<div class="daybox-container"></div>
			<div style="clear: both;"></div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>