<div class="profile-box">
	<div class="avatar"></div>
	<span class="name">Thomas Davis</span>
	<div style="clear: both;"></div>
</div>
<ul class="menu">
	<li class="menu-heading">CODE DEMOS</li>
	<li><a href="#/demo/requirement_sample.js">Assignment requirements </a></li>
	<li><a href="#/demo/complex_sample.js">Predefined complex </a></li>
	<li><a href="#/demo/random_10_sample.js">Random Generated (10)</a></li>
	<li><a href="#/demo/random_100_sample.js">Random Generated (100)</a></li>
	<li class="menu-heading">Documentation</li>
	<li><a href="test">Test suite</a></li>
	<li><a href="docs/daybox.html">Annotated source</a></li>
</ul>
